/* цвет основного текста #757575; */
/* вторичный цвет текста  #212121; */
/*  акцент синий #2196F3 */
/*  белый  #FFFFFF */
/* в футере rgba(255, 255, 255, 0.6); */
/* вторичный цвет фона #2F303A */

/* site nav */

:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color: #2196F3;
  --primery-bg-color: #FFFFFF;
  --secondary-bg-color: #F5F4FA;
}

body {
    background-color:#F5F5F5;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: .03em;
     }
  
h1, 
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* Logo */


.logo-link {
  
    color: var(--accent-color);
    font-family: Raleway,sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;       
          
}
.site-nav {
display: flex;
align-items: center;
gap: 50px;
}

.logo-header {
  color: var(--title-text-color);
    font-family: Oleo Script, cursive;
    font-size: 26px;
    line-height: 1.4;
    text-align: left;
}

.site-nav .link {
  color: var(--title-text-color);
  
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
  
}
.site-nav .link:hover, .site-nav .link:focus {
  color:var(--accent-color)
}

.site-nav .link.current {
  color: var(--accent-color);
}


.social .link {
    color: var(--primary-text-color);
 
 
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    
}
.social .link:hover, .social .link:focus {
  color: var(--accent-color)
}
 /* Стили для  index.html*/
/* Hero */

.section-decide {
  background-color: #2F303A;
  width: 1600px;
    height: 600px;
}

.hero-title {
 
  color: var(--primery-bg-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  padding: 200px 0 280px;
}

.hero-title {
 
 }

/* Section */

 
.section-title {
  color: var(--title-text-color);
  
    font-size: 36px;
    
    line-height: 1.2;
    text-align: center;
}

/* Features */

.feature-list .title {
  color: var(--title-text-color);
  
  margin-top: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0; 
}

.feature-list .text {
  
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
    
}

.feature-text {
  margin-top: 10px;
  width: 270px;
}
/* Examples */
/* Our team */

.team-list .title {
  color:var(--title-text-color);
  
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
   
    text-align: center;
}

.team-list .text {
  
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    
    text-align: center;

}
/* Button */

.button {
  color: var(--title-text-color);
  background-color: var(--accent-color);
 
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
   
  }

  
.button.primary {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  position: absolute;  
  left: 680px;
  top: 430px;
}

/* Footer */

footer {
    background-color: #2F303A;
    color: var(--primary-text-color)
  }

.footer-logo .link {
    color: var(--accent-color);
    text-decoration: none;
  }
.footer-logo .header {
  color: var(--primery-bg-color);
  }
.footer-list .title {
 color: var(--primery-bg-color)
 }

.footer .link {
  color:rgba(255, 255, 255, 0.6);
  text-decoration: none;
}


/* Стили для portfolio.html */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.button.secondary {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
}

.portfolio-list .title {
  color: var(--title-text-color);
}

.portfolio-list .paragraph {
  color: var(--primary-text-color);
}

.page-nav .button.secondary:hover,
.page-nav .button.secondary:focus {
    background-color: var(--accent-color)
}

.container1 {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 215px;
  
}
.item {
  margin: 30px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}