/* цвет основного текста #757575; */
/* вторичный цвет текста  #212121; */
/*  акцент синий #2196F3 */
/*  белый  #FFFFFF */
/* в футере rgba(255, 255, 255, 0.6); */
/* вторичный цвет фона #2F303A */

/* site nav */

:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color: #2196F3;
  --primery-bg-color: #FFFFFF;
}

body {
    background-color:#F5F5F5;
    color: var(--primary-text-color)
     }
  div {
           background-color: #2F303A;
           color: var(--primary-text-color)
      }

.list {
  list-style: none;
}     

.logo-link {
            color: var(--accent-color)
}
.logo-header {
  color: var(--title-text-color)
}

.site-nav .link {
  color: var(--title-text-color)
}
.site-nav .link:hover, .site-nav .link:focus {
  color:var(--accent-color)
}

.site-nav .link.current {
  color: var(--accent-color);
}

.social .link {
  color: var(--primary-text-color)
}
.social .link:hover, .social .link:focus {
  color: var(--accent-color)
}
 /* Стили для  index.html*/
/* Hero */

.hero-title {
  color: var(--primery-bg-color)
}

/* Section */

.section-title {
  color: var(--title-text-color)
}

/* Features */

.feature-list .title {
  color: var(--title-text-color)
}

/* Examples */
/* Our team */

.team-list .title {
  color:var(--title-text-color)
}

/* Button */

.button {
  color: var(--title-text-color)
  background-color: var(--accent-color)
  
}

.button.primary {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
}

/* Footer */

footer {
    background-color: #2F303A;
    color: var(--primary-text-color)
  }

  .footer-logo .link {
    color: var(--accent-color);
  }
  .footer-logo .header {
  color: var(--primery-bg-color);
  }
.footer-list .title {
color: var(--primery-bg-color)
}

.footer .link {
  color:rgba(255, 255, 255, 0.6);
}
/* Стили для portfolio.html */

